#wrapper{
  width: 80%;
  margin: 60px auto;
}
img{
  width: 300px;
  height: 400px;
  /*background-color: darkslategrey;*/
  vertical-align: center;
  justify-self: end;
}
h1 {
  justify-items: start;
  justify-self: start;
  align-self: center;
  align-items: center;
  margin: 0px;
  padding: 5px;
}

#stars{
  align-items: center;
}

