<mat-toolbar class="mb-2">
  <button mat-button [matMenuTriggerFor]="movies">Movies</button>
  <mat-menu #movies="matMenu">
    <a mat-menu-item routerLink="/ranking">TOP 100</a>
    <a mat-menu-item routerLink="/all">All Movies</a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="genres">Genres</button>
  <mat-menu #genres="matMenu">
    <a mat-menu-item routerLink="/genres">All Genres</a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="actors">Cast Members</button>
  <mat-menu #actors="matMenu">
    <a mat-menu-item routerLink="/actors">All cast Members</a>
  </mat-menu>
  <span class="filler"></span>
  <button mat-button routerLink="/main-page">Main Page</button>
  <button mat-button routerLink="{{getPreviousURL()}}">Go back</button>
  <mat-divider  [vertical]="true" style="height:50px"></mat-divider>
  <div *ngIf="ifLogged(); then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <a routerLink="/register" class="ml-3">Register</a>
    <a routerLink="/login">Log in</a>
  </ng-template>
  <ng-template #elseBlock>
    <p>Hello, {{getCurrentUsername()}}! </p>
    <a (click)="logOut()">Log out</a>
  </ng-template>
</mat-toolbar>
