<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="filmy">Filmy</button>
  <mat-menu #filmy="matMenu">
    <a mat-menu-item routerLink="/ranking">Ranking TOP 100</a>
    <a mat-menu-item routerLink="/all">Wszystkie filmy</a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="kategorie">Kategorie</button>
  <mat-menu #kategorie="matMenu">
    <a mat-menu-item routerLink="/genres">Wszystkie kategorie</a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="aktorzy">Aktorzy</button>
  <mat-menu #aktorzy="matMenu">
    <a mat-menu-item routerLink="/actors">Wszyscy aktorzy</a>
  </mat-menu>
  <span class="filler"></span>
  <button mat-button [disabled]="isMainPage()" routerLink="/main-page">Wróć</button>

  <a routerLink="/register">Rejestracja</a>
</mat-toolbar>
