<div id="background">
<div class="title">
<h3>Welcome to MovieRates, when you can find only the best movies!</h3>
  <div *ngIf="ifLogged(); then thenBlock else elseBlock"></div>
  <ng-template #elseBlock>
<h5>If you are new user, create an account, so you can vote for your favourite positions</h5>
  <div class="buttons">
    <button class="button" mat-button routerLink="/register" color="warn">Register</button>
    <button class="button" mat-button routerLink="/login"color="primary">Log in</button>
  </div>
  </ng-template>
  <ng-template #thenBlock>
    <h5>Vote for your favourite positions in movie details!</h5>
  </ng-template>

</div>
</div>
