<div>
<p class="data">Username: {{currentUser.username}}</p>
<p class="data">Email: {{currentUser.email}}</p>
 <p class="title">Evaluated movies:</p>
</div>
<mat-grid-list cols="4">

<mat-grid-tile *ngFor="let movie of votedMovies; let even=even">
  <mat-card class="col-md-12"  [ngClass]="{'even-movie': even}">
    <mat-card-title style="text-align: center">
      <button mat-button type="button" class="btn btn-secondary" routerLink="/movie/{{movie.movieId}}">{{movie.movieTitle}}</button>
    </mat-card-title>
   <mat-card-content>
     <h5 style="text-align: center">Your vote:</h5>
     <p id="vote">{{movie.vote}}</p>
   </mat-card-content>
  </mat-card>
</mat-grid-tile>
</mat-grid-list>
